@font-face {
  font-family: 'jost';
  src: url('font/jost.ttf');
}

@font-face {
  font-family: 'tossimogi';
  src: url('font/toss.ttf');
}

@font-face {
  font-family: 'jua';
  src: url('font/jua.otf');
}

.text {
  width: 43vw;
  margin: 0 auto;
  margin-top: 10vw;
}

.titleh1 {
  font-family: 'jua';
  font-size: 3vw;
}

.titleh2 {
  font-family: 'jua';
  font-size: 1.5vw;
}

.container {
  width: 80vw;
  margin-left: 10vw;
}

.imogi {
  font-family: 'tossimogi';
}

.itemimg {
  width: 40vw;
  height: 40vw;
}

.itemh1 {
  font-size: 4vw;
}

.a {
  margin-top: 10vw;
  width: 35vw;
  height: 35vw;
  text-align: center;
  float: left;
}

.b {
  margin-top: 10vw;
  width: 35vw;
  height: 35vw;
  text-align: center;
  float: right;
}

.a-1 {
  margin-top: 20vw;
  width: 35vw;
  height: 35vw;
  float: left;
  text-align: center;
}

.b-1 {
  margin-top: 20vw;
  width: 35vw;
  height: 35vw;
  float: right;
  text-align: center;
}

.a,.b,.a-1,.b-1 {
  font-family: "jua";
}

.b-1last,.a-1last {
  margin-bottom: 50vw;
}

.copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'jua';
  font-size: 2vw;
}